<div ng-controller="VideosIndexCtrl">  
  <div class="row">
    <div class="col-xs-12">
      <div class="form-inline">
        <div class="form-group">
          Showing videos in 
        </div>
        <div class="form-group">
          <select class="form-control">
            <option>Japanese</option>
          </select>
        </div>
        <div class="form-group">
          &nbsp; &nbsp;
        </div>
        <div class="form-group">
          <a href="#" data-toggle="collapse" data-target="#filters">Filters </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div id="filters" class="collapse">
        <dl class="dl pull-left">
          <dt>By date</dt>
          <dd>Last week</dd>
          <dd>Last month</dd>
          <dd>Last year</dd>
          <dd>All time</dd>
        </dl>
        <dl class="dl">
          <dt>Sort by</dt>
          <dd>Trending</dd>
          <dd>Most studied</dd>
          <dd>Most viewed</dd>
          <dd>Most complete</dd>
          <dd>Least complete</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="row listing">
    <div class="col-sm-12">
      <ul class="media-list">
        <li ng-repeat="video in videos | orderBy:orderProp | filter:query | filter:language" class="media">
          <div class="row">
            <div class="video-image col-xs-12 col-sm-5 col-md-4 col-lg-3">
              <a href="<%= videos_path %>/{{video.id}}">
                <img class="media-object" ng-src="http://img.youtube.com/vi/{{video.name}}/mqdefault.jpg" alt="...">
                <span class="duration">5:06</span>
              </a>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
              <div class="media-body">
                <h3 class="media-heading"><a href="<%= videos_path %>/{{video.id}}">{{video.title}}</a></h3>
                <p>{{video.description}}</p>
                <p>
                  <ul class="list-inline">
                    <li><strong>Tags</strong></li>
                    <li>Informal langauge</li>
                    <li>Blah</li>
                    <li>Blah</li>
                  </ul>
                </p>
                <p>
                   <ul class="list-inline">
                    <li><small>Source views: {{video.views}}</small></li>
                    <li><small>Transcription: <label class="label label-success">79%</label></small></li>
                    <li><small>Translation: <label class="label label-danger">52%</label></small></li>
                  </ul>
                </p>
              </div>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">
              <div class="pull-left sniprate">
                <div class="text-center"><%= image_tag('snip.png') %></div>
                <p class="text-center"><span>131</span> times</p>
              </div>
            </div>
          </div>

          
          
        </li>
      </ul>
    </div>
  </div>
</div>
