<div ng-controller="VideosCtrl">  
  <ul>
    <li ng-repeat="video in videos">
      <a href="<%= videos_path %>/{{video.id}}">{{video.title}} .</a>
      <p>{{video.description}}</p>
    </li>
  </ul>
</div>