<div ng-controller="VideosIndexCtrl">  
  <div class="row">
    <div class="col-xs-12">
      <div class="form-inline">
        <div class="form-group">
          Showing videos in 
        </div>
        <div class="form-group">
          <select class="form-control">
            <option>Japanese</option>
          </select>
        </div>
        <div class="form-group">
          &nbsp; &nbsp;
        </div>
        <div class="form-group">
          <a href="#" data-toggle="collapse" data-target="#filters">Filters </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div id="filters" class="collapse">
        <dl class="dl pull-left">
          <dt>By date</dt>
          <dd><code>currently disabled</code></dd>
          <dd>Last week</dd>
          <dd>Last month</dd>
          <dd>Last year</dd>
          <dd>All time</dd>
        </dl>
        <dl class="dl">
          <dt>Sort by</dt>
          <dd ng-click="orderProp = '-votes'">Most favorites</dd>
          <dd ng-click="orderProp = '-views'">Most viewed</dd>
          <dd ng-click="orderProp = 'title'">Alphabetical</dd>
          <dd ng-click="orderProp = 'duration'">Shortest videos</dd>
          <dd ng-click="orderProp = 'duration'">Longest videos</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="row listing">
    <div class="col-sm-12">
      <ul class="media-list">
        <li ng-repeat="video in videos | orderBy:orderProp | filter:query | filter:language" class="media">
          <div class="row media-list-item">
            <div class="video-image col-xs-12 col-sm-5 col-md-4 col-lg-3">
              <a href="<%= videos_path %>/{{video.id}}">
                <img class="media-object" ng-src="http://img.youtube.com/vi/{{video.code}}/mqdefault.jpg" alt="...">
                <span class="duration">{{video.durationString}}</span>
              </a>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
              <div class="media-body">
                <h3 class="media-heading"><a href="<%= videos_path %>/{{video.id}}">{{video.title}}</a></h3>
                <p>{{video.description}}</p>
                <div class="footer">
                  <ul class="list-inline">
                    <li><strong>Tags</strong></li>
                    <li ng-repeat="tags in video.tags.split(',')">{{tags}}</li>
                  </ul>
                   <ul class="list-inline">
                    <li><small>Source views: {{video.views | number}}</small></li>
                    <li><small>Percent annotated: {{video.snippets.length * 3}}</small>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">
              <div class="pull-left sniprate">
                <div class="text-center"><i class="fa fa-star fa-3x"></i></div>
                <p class="text-center"><span class="scissors-count">{{video.votes}}</span></p>
              </div>
            </div>
          </div>

          
          
        </li>
      </ul>
    </div>
  </div>
</div>
