<div ng-controller="VideosShowCtrl"> 
  {{loadVideo("<%= @video.name %>")}}
  <div class="container">
    <h2><%= @video.title %></h2>
    <div yt-player code="code">
    </div>
    
    <h4>Load different videos</h4>
   
    <ul class="list-inline">
      <li ng-repeat="video in videos">
        <a ng-click="loadVideo(video.name)" class="" href="">{{video.title}}</a>
      </li>
    </ul>  

    <em>current video id: </em><code>{{code}}</code>
  </div>
</div>