<div ng-controller="VideosCtrl"> 
  <div yt-player vid="hello" monkey="bob" code="<%= @video.name %>"></div>
  <div class="col-lg-2">
    <input type="text" ng-model="yturl" class="form-control"></input> 
  Video id: {{yturl}}. Change using input above.
  </div>
  <hr />
  <h3>Load different videos (rails api -> JS)</h3>
  <ul>
    <li ng-repeat="video in videos">
      <h3><button ng-click="loadVideo(video.name)" class="btn btn-default">{{video.name}}</button></h3>
    </li>
  </ul>
  <ul>
    <li><%= link_to 'Add a video', new_video_path %></li> 
  </ul>
  
  
</div>


<div>
