<div ng-controller="VideosShowCtrl"> 
  {{loadVideo("<%= @video.name %>")}}
  <div class="container">

    <div class="video-title-bar">
      <h2><%= @video.title %> </h2>
    </div>

    <!--<div yt-player code="code" class="yt-player"></div>-->
    <youtube-video id="best-vid" video-id="theBestVideo"></youtube-video>
    
    <div class="next-video">
      <h3>Load different videos</h3>
      <ul class="list-unstyled">
        <li ng-repeat="video in videos">
          <a ng-click="loadVideo(video.name)" class="" href="">{{video.title}}</a>  21,000,000 source views. 65% annotated, 12 comments.
        </li>
        <!--<li><em>current video id: </em><code>{{code}}</code></li>-->
      </ul> 
    </div>
       
  </div>
</div>