<script>
  <%= render "videos_service.js.erb" %>
</script>

<div ng-controller="VideosShowCtrl"> 
 
  <div class="container">

    <div class="video-title-bar">
      <h2><%= @video.title %> </h2>
    </div>

    <div class="yt-player">
      <div class="row">  
        <div class="col-sm-12">
          <div class="embed-responsive-wrapper">
            <div class="embed-responsive embed-responsive-16by9">
               <youtube-video id="video-player" video-id="code" player-vars="playerVars"></youtube-video>
            </div>
            <div class="panel panel-default">
              <div class="timeline">
                <div class="progress" id="timerbar" ng-click="timerFn($event)">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{timer}}" aria-valuemin="0" aria-valuemax="{{duration}}" style="width: {{100 * timer / duration}}%;">
                  </div>
                  <div class="progress-layover-wrapper">
                    <ul>
                        <li ng-repeat="snippet in snippets" class="progress-layover" data-snippet-id="{{snippet.id}}" data-end="{{snippet.endtime}}" data-start="{{snippet.starttime}}" data-snippet-video-id="{{snippet.video_id}}" style="left: {{100 * snippet.starttime / duration}}%; width: {{100 * (snippet.endtime - snippet.starttime) / duration}}%;" ng-click="snippetPlay($event, snippet.starttime)">&nbsp;</li>
                    </ul>
                  </div> 
                </div>
              </div>
              <div class="row subtitles-bar new-subtitle" ng-hide="hasSnippet">
                <div class="col-xs-12 col-sm-9 col-sm-push-3">
                  <div class="row subtitles-row">
                    <div class="col-xs-12 col-sm-10 subtitles">
                      <h2><input type="text" placeholder="日本語はここ ..."></input></h2>
                    </div>
                    <div class="col-xs-12 col-sm-2 subtitles-edit">
                      <button class="button">Save</button>
                    </div>
                  </div>
                  <div class="row subtitles-desc-row">
                    <div class="col-xs-12 col-sm-10 subtitles-desc">
                      <h4><input type="text" placeholder="Enter new translation here..."></input></h4>
                    </div>
                    <div class="col-xs-12 col-sm-2 subtitles-desc-edit">
                      <button class="button">Save</button>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-sm-pull-9 snipper text-center">
                  <a href="#" class="snipper-link">
                    <div class="text-center"><i class="fa fa-3x fa-star"></i></div>
                    <div>Favorite</div>
                  </a>
                </div>
                <div class="row annotations-row">
                  <div class="col-xs-12">
                    <br /><br />
                    <h5>Other annotations (0) </h5> 
                    <div class="annotations-wrapper">
                      <div class="col-xs-12 col-sm-10 annotations">
                        <p><input type="text" placeholder="Enter comments here"></input></p>
                      </div>
                      <div class="col-xs-12 col-sm-2 annotations-edit">
                        <button class="button">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row subtitles-bar edit-subtitle" ng-repeat="snippet in snippets" ng-show="hasSnippet && currentSnippet[0].id === snippet.id" >
                <div class="col-xs-12 col-sm-9 col-sm-push-3">
                  <div class="row subtitles-row">
                    <div class="subtitles-wrapper" ng-repeat="comment in snippet.comments | filter:{category:'transcription'}">
                      <div class="col-xs-12 col-sm-10 subtitles">
                        <h2>{{comment.content}}</h2>
                      </div>
                      <div class="col-xs-12 col-sm-2 subtitles-edit">
                        <i class="fa fa-lg fa-thumbs-up"></i> &nbsp; <a href="#" class="votes-count">{{comment.votes}}</a> &nbsp; <i class="fa fa-lg fa-thumbs-down"></i> 
                      </div>
                    </div>
                  </div>
                  <div class="row subtitles-desc-row">
                    <div class="subtitles-desc-wrapper" ng-repeat="comment in snippet.comments | filter:{category:'translation'}">
                      <div class="col-xs-12 col-sm-10 subtitles-desc">
                        <h4>{{comment.content}}</h4>
                      </div>
                      <div class="col-xs-12 col-sm-2 subtitles-desc-edit">
                        <i class="fa fa-lg fa-thumbs-up"></i> &nbsp; <a href="#" class="votes-count">{{comment.votes}}</a> &nbsp; <i class="fa fa-lg fa-thumbs-down"></i> 
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-3 col-sm-pull-9 snipper text-center">
                  <a href="#" class="snipper-link">
                    <div class="text-center"><i class="fa fa-3x fa-star"></i></div>
                    <div>Favorite</div>
                  </a>
                </div>

                <div class="row annotations-row">
                  <div class="col-xs-12">
                    <br /><br />
                    <h5>Other annotations ({{$filter('filter')(snippet.comments, {category: "comment"}, true).length.toString()}}) </h5> 
                    <div class="annotations-wrapper" ng-repeat="comment in snippet.comments | filter:{category:'annotation'}">
                      <div class="col-xs-12 col-sm-10 annotations">
                        <p>{{comment.content}}</p>
                      </div>
                      <div class="col-xs-12 col-sm-2 annotations-edit">
                        <i class="fa fa-lg fa-thumbs-up"></i> &nbsp; <a href="#" class="votes-count">{{comment.votes}}</a> &nbsp; <i class="fa fa-lg fa-thumbs-down"></i> 
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              
            </div>

            <!--<div class="video-player-options">
              <div class="checkbox">
                <label>
                  <input type="checkbox" checked="">Show english captions
                </label>
              </div>
            </div>-->

          </div>
        </div>
      </div>
         
    </div>
    

    <div class="next-video">
      <h3>Load different videos</h3>
      <ul class="list-unstyled">
        <li ng-repeat="video in videos">
          <a href="../videos/{{video.id}}" class="">{{video.title}}</a>  {{video.views | number}} source views. {{video.percent}}% annotated. {{video.votes}} favorites.
        </li>
      </ul> 
    </div>
       <br /><br /><br /><br /><br />
    debug:<br />
            <code> {{video}} <br />
  {{timer}} / {{duration}}<br />
  https://gdata.youtube.com/feeds/api/videos/{{video.code}}</code>

  </div>
</div>