<footer>
  <div class="container">
  <div class="row">
    <div class="col-lg-12">

      <ul class="list-inline">
        <li class="pull-right"><a href="#top">Back to top</a></li>
        <li><a href="#">Browse</a></li>
        <li><a href="#">Submit</a></li>
        <li><a href="#">About</a></li>
        <li><a href="../help/#api">API</a></li>
        <li><a href="#">Donate</a></li>
      </ul>
      <p>Made by Rewon Child. Contact him at <a href="mailto:rewonc@gmail.com">rewonc@gmail.com</a>. Feature requests welcome.</p>
      <p>&copy; Rewon Child 2014</p>

    </div>
  </div>
  </div>
</footer>