<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <strong><%= link_to "abroad.fm", root_path, class: "navbar-brand custom" %></strong>
    </div>

      <ul class="nav navbar-nav custom">
        <li><%= link_to "Browse videos", videos_path %></li>
        <li><%= link_to "Add a video", new_video_path %></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>