<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Foreigner", root_path, class: "navbar-brand custom" %>
    </div>

      <ul class="nav navbar-nav custom">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right custom">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>