<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Foreigner", root_path, class: "navbar-brand custom" %>
    </div>

      <ul class="nav navbar-nav custom">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Add a video", new_video_path %></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>