  <div class="container">
    <div style="height:400px;"><iframe style="overflow:hidden;height:100%;width:100%" width="100%" height="100%" ng-src="{{url}}" frameborder="0" allowfullscreen></iframe></div>
    <div class="panel panel-warning">
      <h3 class="panel-heading">Subtitles appear here</h3>
      <div class="panel-body">Voila</div>
    </div>
    #not working yet
    <ul class="nav nav-pills">
      <li class="inactive"><a href="">Half Speed</a></li>
      <li class="active"><a href="" ng-click="var1" id="button1">Regular Speed: {{var2}}</a></li>
      <li class="inactive"><a href="">1.5 Speed</a></li>
    </ul>
    <br />
    <em>Time count:  1.51 </em>
    <hr />
</div>