.videos.index{ 
  #filters{
    padding:10px;
    dl{
      margin-right:50px;
    }
  }
  .listing{
    margin-top:25px;
    .media-list li img{
      position:relative;
    }
    li{
    }
    .video-image{
      position:relative;
      img{
        width:100%;
      }
      .duration{
        position:absolute;
        bottom:3px;
        right:18px;
        color:#fff;
        background-color:rgba(22,22,22,0.5);
        padding:2px;
      }
    }
    .media-list {
      .media-list-item:hover{
        background-color:#F8F8F8;
      }
      .media-body{
        position:relative;
        height: 160px;
        padding:5px;
        .media-heading{
          padding-top:5px;
        }
        .footer{
          position:absolute;
          bottom:7px;
        }
      }
      .sniprate{
        height:160px;
        i{
          margin-top:50px;
        }
      }
    }
  }
}

.videos.show {
  .yt-player{
    .embed-responsive-wrapper{
      max-width:840px;
      .subtitles-bar{
        .subtitles{
          h2{
            margin:0px;
          }
        }
        .subtitles-desc{
          h4{
            margin:0px;
          }
        }
        .subtitles-row{
          margin-bottom:15px;
          cursor:pointer;
          .subtitles-edit{
            visibility:hidden;
          }
        }
        .subtitles-row:hover > .subtitles-edit{
          visibility:visible;
        }
        .subtitles-desc-row{
          cursor:pointer;
          .subtitles-desc-edit{
            visibility:hidden;
          }
        }
        .subtitles-desc-row:hover > .subtitles-desc-edit{
          visibility:visible;
        }
        .snipper{ 
          padding-top:8px;  
          .snipper-link{
            color:#CCC;
            cursor:pointer;
          }
          .snipper-link:hover{
            color:$mediumRed;
            text-decoration:none;
          }
        }
        min-height:100px;
        padding-bottom:40px
      }
      .explanations-row{
        .explanations{
          padding:10px;
        }
      }  
    }
    .timeline{
      margin-bottom:15px;
      .progress{
        margin-bottom:0px;
        position:relative;
        .progress-bar{
          background-color:#CCC;
        }
        .progress-layover-wrapper{
          position:absolute;
          left:0;
          top:0;
          width:100%;
          list-style:none;
          list-style-type:none;
          li{
            background-color:green;
            border-radius:20%;
            list-style-type:none;
            position:absolute;
            left:0;
          }
        }
      }
    }
  }
  .next-video{
    margin-top:40px;
  }
}

.videos.edit{

}