.videos.index{ 
  #filters{
    padding:10px;
    dl{
      margin-right:50px;
    }
  }
  .listing{
    margin-top:25px;
    .media-list li img{
      position:relative;
    }
    li{
    }
    .video-image{
      position:relative;
      margin-bottom:10px;
      img{
        width:100%;
      }
      .duration{
        position:absolute;
        bottom:3px;
        right:18px;
        color:#fff;
        background-color:rgba(22,22,22,0.5);
        padding:2px;
      }
    }
    .media-list .sniprate{
      height:112px;
      img{
        width:32px;
        margin-top:40px;
      }
    }
  }
}

.videos.show {
  .yt-player{
    .embed-responsive-wrapper{
      max-width:940px;
    }
    .snipper{   
    }
  }
  .captions-add{
    margin-top:10px;
    margin-bottom:10px;
    .no-padding{
      padding:0px;
    }
  }
  .captions-add button {
    height:94px;
    font-weight: bold;
  }

  .captions-editor {

    height:300px;
    overflow-y:scroll;

    ul.subtitles{

      li:hover{
        background-color:#EEEFFF;
        cursor:pointer;
        .glyphicon{
          color:#666;
        }
      }
      li.panel{
        margin-bottom:2px;  
      }
      li{

        position:relative;
        padding:10px;
        padding-left:0px;
        padding-right:0px;
        .glyphicon{
          color:#FFF;
        }
        .start{
          position:absolute;
          //left:10px;
          width:10%;
          text-align:right;
        }
        .end{
          position:absolute;
          left:10%;
          width:10%;
          text-align:left;
        }
        .subtitle{
          padding-left:20%;
          padding-right:50px;
          .submenu{
            padding-right:0px;
            position:relative;
            left:40px;
          }
        }

      }
    }
  }
}

.videos.edit{

}